.fieldsetLeveling{
    width: 100px;
    margin: auto;
}

.styleButtons{
    float: left;
    margin-top: 0px;
    margin-left: 0px;
}

.marginTopBottom{
    margin-top: 15px;
    margin-bottom: 10px;
}

.marginForTextarea{
    margin-top: -15px;
    margin-bottom: 15px;
}